.flag-title {
    font-size: 42rpx;
    font-weight: bold;
}
.submit,
.notice {
  font-weight: bold;
  font-size: 28rpx;

  height: 92rpx;
  text-align: center;
  letter-spacing: 4rpx;
  line-height: 92rpx;
  border-radius: 20rpx;
}
.wrapper {
  padding:16rpx;
}