@font-face {
  font-family: 'alifont';  /* project id 1968162 */
  src: url('https://at.alicdn.com/t/font_1968162_yzlbnwaczb9.eot');
  src: url('https://at.alicdn.com/t/font_1968162_yzlbnwaczb9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1968162_yzlbnwaczb9.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1968162_yzlbnwaczb9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1968162_yzlbnwaczb9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1968162_yzlbnwaczb9.svg#iconfont') format('svg');
}

.alifont {
  font-family: "alifont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-setting:before {
  content: "\e710";
}

.icon-gouwuche1:before {
  content: "\e60d";
}

.icon-bianji-copy:before {
  content: "\e600";
}

.icon-weizhi:before {
  content: "\e657";
}

.icon-xuanzhong:before {
  content: "\e672";
}

.icon-lajitong:before {
  content: "\e615";
}

.icon-zhongping1:before {
  content: "\e658";
}

.icon-haoping1:before {
  content: "\e60c";
}

.icon-chaping:before {
  content: "\e7cb";
}

.icon-zu1056:before {
  content: "\e602";
}

.icon-zu1057:before {
  content: "\e605";
}

.icon-zu1058:before {
  content: "\e606";
}

.icon-zu1059:before {
  content: "\e607";
}

.icon-zu1055:before {
  content: "\e60b";
}

.icon-zu7121:before {
  content: "\e62c";
}

.icon-zu712:before {
  content: "\e601";
}

.icon-search:before {
  content: "\e604";
}

.icon-lujing94:before {
  content: "\e603";
}

.icon-wenhao:before {
  content: "\e608";
}

.icon-wenhao-copy:before {
  content: "\e609";
}

.icon-wenhao-copy-copy:before {
  content: "\e60a";
}

